<div class="app-container">
  <div class="main-content">
    <div class="users-column">
      <div class="column-header">
        <h2>Users</h2>
        <button 
          *ngIf="stateService.stats().selectedCount > 0"
          (click)="clearUserSelection()"
          class="clear-btn">
          Clear selection
        </button>
      </div>
      <app-virtual-scroller
        [itemsData]="users"
        [containerHeight]="600"
        [overscan]="3">
        <div header class="stats">
          {{ stateService.stats().selectedCount }} selected
        </div>
        <ng-template let-user let-index="index">
          <div class="user-item" [class.selected]="isUserSelected(user.id)" (click)="toggleUser(user.id)">
            <img [src]="user.avatar" [alt]="user.name" class="avatar">
            <div class="user-info">
              <div class="user-name">{{ user.name }}</div>
              <div class="user-email">{{ user.email }}</div>
              <div class="user-bio">{{ user.bio }}</div>
            </div>
          </div>
        </ng-template>
      </app-virtual-scroller>
    </div>
    <div class="posts-column">
      <div class="column-header">
        <input
          type="text"
          [formControl]="searchControl"
          placeholder="Search posts..."
          class="search-input"
          tabindex="1">
        <h2>Posts</h2>
        <select [(ngModel)]="sortBy" (change)="onSortChange()" class="sort-select" tabindex="2">
          <option value="recent">Recent</option>
          <option value="title">Title</option>
        </select>
      </div>
      <app-virtual-scroller
        #virtualScroller
        [itemsData]="filteredPosts()"
        [containerHeight]="600"
        [overscan]="3"
        (itemClick)="openPostDialog($event)">
        <div header class="stats">
          Showing {{ filteredPosts().length | number }} of {{ posts.length | number }} posts
        </div>
        <ng-template let-post let-index="index" let-focused="focused">
          <div class="post-item" [class.post-item--focused]="focused">
            <div class="post-header">
              <h3 class="post-title"> 
                {{ post.title }}
              </h3>
              <span class="post-number">#{{ index + 1 }}</span>
            </div>
            <p class="post-body">{{ post.body }}</p>
            <div class="post-meta">
              <span class="post-author">{{ getUserName(post.userId) }}</span>
              <span class="post-date">{{ post.date | date: 'medium' }}</span>
            </div>
          </div>
        </ng-template>
      </app-virtual-scroller>
    </div>
  </div>
  <div *ngIf="selectedPost()" class="dialog-overlay" (click)="closeDialog()">
    <div class="dialog-content" (click)="$event.stopPropagation()">
      <div class="dialog-header">
        <h2>{{ selectedPost()?.title }}</h2>
        <button (click)="closeDialog()" class="close-btn">×</button>
      </div>
      <div class="dialog-body">
        <p>{{ selectedPost()?.body }}</p>
        <div class="dialog-meta">
          Posted on {{ selectedPost()?.date | date }}
        </div>
        
        <h3>Comments ({{ comments().length }})</h3>
        <div class="comments-list">
          <div *ngFor="let comment of comments()" class="comment">
            <div class="comment-header">
              <span class="comment-author">{{ comment.author }}</span>
              <span class="comment-date">{{ comment.date | date }}</span>
            </div>
            <p class="comment-text">{{ comment.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>